<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Ampersand test app.</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/collections">collection demo</a>
        </li>
        <li>
          <a href="/info">more info</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <main data-hook="page-container"></main>
  </div>
</body>
