<li class="person list-group-item">
  <img data-hook="avatar" width="40" height="40">
  <a data-hook="name"></a>
  <span class="btn-group pull-right">
    <a class="btn btn-default" data-hook="action-edit">edit</a>
    <a href="#" class="btn btn-danger" data-hook="action-delete">delete</a>
  </span>
</li>
