body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Modal Dialog Example
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(data-hook="info", href="#") more info
  .container
    main(data-hook="page-container")
  div(data-hook="modal-container")