div.dialog.dialog-info.dialog-center
  div.dialog-container
    div.dialog-close
      a(data-hook="close", title="close dialog") &times;
    h2 Simple Page Example
    p This page was rendered by a simple view file at client/views/dialogs/info.js.
    div.dialog-button-container
      a.btn.btn-default(data-hook="close") Cancel

