div.dialog.dialog-message.dialog-center
  div.dialog-container
    div.dialog-close
      a(data-hook="close", title="close dialog") &times;
    h4(data-hook="message-title")
    div(data-hook="message-contents")
    div.dialog-button-container
      a.btn.btn-default(href="#", data-hook="close") Cancel
