body {
  background: #fff;
}

.profile-icon {
  height: 30px;
}

.clickable {
  cursor: pointer;
}

.alert {
  padding: 1px;
  margin-bottom: 4px;
}

.date-controls .form-control {
  display: inline;
  margin-right: 5px;
}

.date-controls select {
  width: 100px;
}

.date-controls [data-hook=day] input {
  width: 50px;
}

.date-controls [data-hook=year] input {
  width: 65px;
}

.clickable-card {
  border: 3px transparent;
}
.clickable-card.selected {
  border: 3px solid;
}
.clickable-card img {
  max-width: 350px;
}

label.checkbox {
  font-weight: normal;
}
