<section class="page edit-person">
  <h2>Edit Person</h2>

  <p>
    This form and all behavior is defined by the form view in
    <code>client/forms/person.js</code>.
  </p>

  <p>
    The same form-view is used for both editing and creating new users.
  </p>

  <form data-hook="person-form">
    <fieldset data-hook="field-container">
      <div class="buttons">
        <button type="submit" class="btn" data-hook="reset">Submit</button>
      </div>
    </fieldset>
  </form>
</section>
