<section class="page view-person">
  <h2 data-hook="name"></h2>
  <img data-hook="avatar", width="80" height="80">
  <div class="buttons">
    <a class="btn" data-hook="edit">Edit</a>
    <button type="button" class="btn" data-hook="delete">Delete</button>
  </div>
</section>
